{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.linkedProducts | length > 0 or object.masterProduct is not null %}
            <span class="label label-success">Yes</span>
        {% else %}
            <span class="label label-danger">No</span>
        {% endif %}
    </div>
{% endblock %}
