<a href="{{ admin.generateObjectUrl('dataAlignment', object) }}" class="btn btn-sm btn-default view_link" title="Start data alignment with A&P engine for all room of this partner">
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Align A&P
</a>
